.confirm-alert-overlay {
  width: var(--width-property-full);
  height: var(--height-property-full);
  display: var(--display-property-primary);
  justify-content: var(--justify-content-primary);
  align-items: var(--align-items);
  background: var(--background-color-modal);
  position: var(--position-secondary);
  overflow: var(--overflow);
  z-index: var(--z-index-property-primary);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.confirm-alert {
  width: var(--width-property-confirm-alert);
  height: var(--height-property-confirm-alert);
  margin: var(--margin-modal-content);
  padding: var(--padding-modal-content);
  background-color: var(--color-primary);
  background-size: var(--background-size);
  background-position: var(--bg-position-primary);
  position: var(--position-primary);
  border: var(--border-modal);
  border-radius: var(--border-radius-modal-body);
  background-color: var(--bg-color-modal-content);
  box-shadow: var(--box-shadow-modal-content);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.confirm-alert-body {
  width: var(--width-property-full);
  height: var(--height-property-full);
  display: var(--display-property-primary);
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content-primary);
  text-align: var(--text-align-primar);
  align-items: var(--align-items);
  color: var(--confirm-popup-color);
}

.title-confirm {
  margin: var(--margin-title-confirm);
  font-family: Roboto-Bold;
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-secondary);
}

.message-confirm {
  font-family: Roboto-Regular;
  font-size: var(--font-size-message-confirm);
  font-weight: var(--font-weight-secondary);
}

.confirm-alert-button-group {
  margin: var(--margin-confirm-alert-button-group);
  display: var(--display-property-primary);
  justify-content: var(--justify-content-primary);
  gap: var(--gap-navbar);
}

.confirm-alert-button-confirm,
.confirm-alert-button-cancel {
  display: var(--display-property-secondary);
  font-family: Roboto-Regular;
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-secondary);
  border: var(--border-none);
  border-radius: var(--border-radius-confirm-alert-button);
  outline: var(--outline-primary);
  cursor: var(--cursor);
}

.confirm-alert-button-confirm {
  background: var(--background-color-primary);
  border: var(--border-button-confirm);
}

.confirm-alert-button-cancel {
  background: var(--background-color-primary);
  border: var(--border-button-delete);
}

.fa-question-circle {
  font-size: var(--font-size-quaternary);
  color: var(--confirm-popup-icon-color);
  background: var(--background-popup-color);
  border-radius: var(--border-radius-button-close);
}

.confirm-alert-button-confirm:hover {
  background-color: var(--button-confirm-color);
  color: var(--color-primary);
}

.confirm-alert-button-cancel:hover {
  background-color: var(--button-delete-color);
  color: var(--color-primary);
}
