@font-face {
  font-family: Roboto-Bold;
  src: url(/src/assets/fonts/Roboto-Bold.ttf);
}

:root {
  --max-width: 1280px;
  --position-primary: relative;
  --position-secondary: fixed;
  --position-tertiary: absolute;
  --cursor: pointer;

  --bg-position-primary: center;
  --bg-position-secondary: bottom;

  --background-color-primary: #fff;
  --bg-color-product-item: #eee;
  --button-add-color: #007bff;
  --button-delete-color: #dc3545;
  --button-confirm-color: #007bff;
  --button-search-color: #5f9ea0;
  --button-submit-color: #007bff;
  --button-submit-border-color: #646cff;
  --error-message-color: #ff0000;
  --background-color-modal: rgba(0, 0, 0, 0.4);
  --bg-color-modal-content: #fefefe;
  --search-input-color: #aaa;
  --selection-color: #ccc;
  --background-popup-color: #f8f8f8;

  --box-shadow-search-input: -2px -2px 10px #000,
    5px 5px 5px #96969611;
  --box-shadow-modal-content: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --box-shadow-button-add: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  --box-shadow-button-add-hover: rgba(0, 0, 0, 0.15) 0 3px
    9px 0;

  --color-primary: #fff;
  --color-secondary: #000;
  --color-tertiary: #333;
  --color-error: #ff0000;
  --color-quaternary: #008080;
  --confirm-popup-color: #008080;
  --confirm-popup-icon-color: #ff0000;
  --href-property-color: #646cff;
  --href-hover-property-color: #535bf2;

  --width-property-full: 100%;
  --width-property-modal-content: 500px;
  --width-property-confirm-alert: 400px;
  --width-property-button: 100px;
  --width-property-search-input: 95%;
  --width-property-button-search: 5%;
  --width-property-button-close: 25px;
  --width-product-item-img: 32px;
  --height-property-full: 100%;
  --height-property-confirm-alert: 320px;
  --height-property-form-input: 50px;
  --height-product-item-img: 32px;

  --display-property-primary: flex;
  --display-property-secondary: block;
  --display-property-tertiary: grid;
  --display-property-quaternary: none;
  --justify-content-primary: center;
  --justify-content-secondary: space-between;
  --place-items: center;
  --text-align-primary: center;
  --text-align-secondary: end;
  --align-items: center;
  --gap-navbar: 20px;

  --transition-primary: all 0.4s ease;
  --transition-secondary: all 0.25s ease;
  --text-transform: uppercase;
  --flex-direction: column;
  --text-decoration: none;
  --color-scheme: light dark;
  --resize-none: none;
  --box-sizing: border-box;
  --overflow: auto;

  --font-size-primary: 16px;
  --font-size-secondary: 32px;
  --font-size-tertiary: 50px;
  --font-size-quaternary: 100px;
  --font-size-message-confirm: 20px;
  --font-weight-primary: normal;
  --font-weight-secondary: bold;
  --font-weight-tertiary: 500;
  --font-weight-modal: bolder;
  --line-height: 24px;

  --background-size: cover;
  --outline-primary: none;
  --outline-secondary: 4px auto -webkit-focus-ring-color;

  --border-none: none;
  --border-modal: 3px solid #dcdcdc;
  --border-button: 1px solid transparent;
  --border-button-submit: 2px solid #fff;
  --border-button-add: 1px solid #007bff;
  --border-button-confirm: 2px solid #28a745;
  --border-button-delete: 2px solid #dc3545;
  --border-button-close: 3px solid #fff;
  --border-radius-button-close: 50%;
  --border-button-close-hover: 3px solid;
  --border-form-input: 1px solid;
  --border-product-item: 1px solid #ccc;
  --border-radius-primary: 8px;
  --border-radius-secondary: 6px;
  --border-radius-modal-header: 20px 20px 0 0;
  --border-radius-modal-body: 20px;
  --border-radius-search-input: 6px 0 0 6px;
  --border-radius-button-search: 0 6px 6px 0;
  --border-radius-error-message: 0 0 20px 20px;
  --border-radius-confirm-alert-button: 5px;

  --z-index-property-primary: 1;
  --float-property-button-close: right;

  --padding-root: 32px;
  --padding-button: 10px 20px;
  --padding-button-add: 10px 25px;
  --padding-modal: 100px 0 0;
  --padding-modal-content: 0;
  --padding-modal-header: 2px 16px;
  --padding-modal-body: 5px 15px;
  --padding-modal-footer: 2px 16px;
  --padding-form-input: 20px 10px 10px 20px;
  --padding-product-item: 10px;
  --padding-product-item-img: 0 10px 0 0;
  --padding-search-input: 14px 22px;
  --padding-button-search: 15px 25px;
  --padding-header: 15px;
  --padding-header-img: 0 14px;
  --padding-selection: 10px;

  --margin-root: 0 auto;
  --margin-button: 0 16px;
  --margin-button-add: 0 16px;
  --margin-button-submit: 10px 0px;
  --margin-modal-content: auto;
  --margin-form-group: 10px 0px;
  --margin-error-message: 10px 20px;
  --margin-search-input: 25px auto;
  --margin-title-confirm: 25px 20px 15px;
  --margin-message-confirm: 0 15px;
  --margin-confirm-alert-button-group: 20px;
}
