.modal {
  width: var(--width-property-full);
  height: var(--height-property-full);
  display: var(--display-property-secondary);
  padding: var(--padding-modal);
  background-color: var(--background-color-modal);
  overflow: var(--overflow);
  position: var(--position-secondary);
  z-index: var(--z-index-property-primary);
  left: 0;
  top: 0;
}

.modal-content {
  width: var(--width-property-modal-content);
  margin: var(--margin-modal-content);
  padding: var(--padding-modal-content);
  position: var(--position-primary);
  border: var(--border-modal);
  border-radius: var(--border-radius-modal-body);
  background-color: var(--bg-color-modal-content);
  box-shadow: var(--box-shadow-modal-content);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close-button {
  width: var(--width-property-button-close);
  display: var(--display-property-primary);
  font-weight: var(--font-weight-secondary);
  justify-content: var(--justify-content-primary);
  border: var(--border-button-close);
  color: var(--color-secondary);
  float: var(--float-property-button-close);
  background: var(--background-color-primary);
}

.close-button:hover,
.close-button:focus {
  text-decoration: var(--text-decoration);
  color: var(--color-secondary);
  border: var(--border-button-close-hover);
  border-radius: var(--border-radius-button-close);
  transition: var(--transition-primary);
  cursor: var(--cursor);
}

.modal-header {
  display: var(--display-property-primary);
  padding: var(--padding-modal-header);
  justify-content: var(--justify-content-secondary);
  align-items: var(--align-items);
  color: var(--color-secondary);
  border-bottom: var(--border-modal);
  border-radius: var(--border-radius-modal-header);
}

.modal-body {
  padding: var(--padding-modal-body);
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-modal);
  background-color: white;
  background-size: var(--background-size);
  background-position: var(--bg-position-primary);
}

.modal-footer {
  padding-left: 400px;
  color: var(--color-primary);
  border-top: var(--border-modal);
  background-color: white;
  background-size: var(--background-size);
  background-position: var(--bg-position-secondary);
}

.modal-title {
  font-family: Roboto-Bold;
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-secondary);
  text-transform: var(--text-transform);
}

.form-group {
  display: var(--display-property-primary);
  margin: var(--margin-form-group);
  flex-direction: var(--flex-direction);
}

.form-input,
.form-select {
  margin: var(--margin-form-group);
  padding: var(--padding-form-input);
  position: var(--position-primary);
  font-size: var(--font-size-primary);
  color: var(--color-secondary);
  background: var(--background-color-primary);
  border-radius: var(--border-radius-primary);
  outline: var(--outline-primary);
}
.form-label {
  font-family: Roboto-Bold;
  z-index: var(--z-index-property-primary);
  background: var(--background-color-primary);
  position: var(--position-tertiary);
  left: 30px;
}

.form-input-keywords {
  height: var(--height-property-form-input);
  resize: var(--resize-none);
}

.button-submit {
  margin: var(--margin-button-submit);
  background-color: var(--button-submit-color);
  border: var(--border-button-submit);
}

.button-submit:hover {
  border-color: var(--button-submit-border-color);
}

.data-fields-empty {
  margin: var(--margin-error-message);
  color: var(--error-message-color);
  border-radius: var(--border-radius-error-message);
  font-family: Roboto-Bold;
  font-weight: var(--font-weight-secondary);
  text-transform: var(--text-transform);
}
