.item {
  max-width: 150px;
  width: 150px;
  max-height: 200px;
  height: 150px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 80px;
}
.content-wrapper {
  border: lightgrey solid 1px;
  margin: 20px;
  padding: 25px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 200px;
  height: 200px;
}
.image {
  font-size: 80px;
}
.delete-button {
  font-size: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
}
